.registration-form{
    width:500px;
    margin: auto;
    margin-top: 70px;
    padding: 30px;
    box-shadow: 0 0 10px gray;
    border-radius: 15px;
}
.form-control{
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 0;
    font-weight:bold;
}
input::placeholder{
    font-weight:normal;
}
